<div class='grid grid-cols-3 gap-4'>
  <%= turbo_frame_tag 'stock_item_over_inventory_alerts', class: 'alerts-container' do %>
  <% end %>
  <%= turbo_frame_tag 'stock_item_low_stock_alerts', class: 'alerts-container' do %>
  <% end %>
  <%= turbo_frame_tag 'stock_item_out_of_stock_alerts', class: 'alerts-container' do %>
  <% end %>
</div>
