<h1 class='text-3xl font-bold'>Aldo's stores</h1>

<%= turbo_stream_from 'stock_item' %>

<%= render '/shared/alerts_container' %>

<div class='grid grid-cols-2 m-4 gap-4'>
  <%- @stores.each do |store| %>
    <%= render '/shared/inventory_container', store: store %>
  <% end %>
</div>